<%= form_for @blog, html: { multipart: true } do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="title-field">
    <%= f.text_field :title %>
  </div>
  
  <div class="title-field">
    <%= f.file_field :image %>
  </div>



  <div class="field">
    <%= f.text_area :content, id: 'tinymce4', :class => "tinymce", rel: "tinymce", :rows => 40, :cols => 70 %>
  </div>

  <div class="tags">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <button type="button" class="btn btn-primary">Delete</button>
  </div>

<% end %>
