<%= form_for @blog, html: { multipart: true } do |f| %>

<div class="edit-wrap">
<h1>Edit Post</h1>


  <% if @blog.static_image.present? %>
    <%= image_tag @blog.static_image, class: 'static-image' %>
  <% else %>
    <%= image_tag @blog.image.url(:medium) %>
  <% end %>


  
  <div class="title-field">
    <%= f.file_field :image %>
  </div>

  <div class="title-field">
    <%= f.text_field :title %>
  </div>

  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <div class="field">
    <%= f.text_area :content, id: 'tinymce4', :class => "tinymce", rel: "tinymce", :rows => 40, :cols => 70 %>
  </div>

  <div class="tags">
    <%= f.label :tag_list, "Tags (separated by commas)", class: 'tags_header' %><br />
    <%= f.text_field :tag_list %>
  </div>
  <div class="actions">
    <%= f.submit class:'btn btn-primary' %>
    <button type="button" class="btn btn-primary">Delete</button>
  </div>

<% end %>



<div class="show-buttons">
  <%= link_to 'Show', @blog %> |
  <%= link_to 'Back', blogs_path %>
</div>

</div>
