<p id="notice"><%= notice %></p>

<%= image_tag @blog.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format(@blog.content.html_safe) %>
</p>

<p class="tags">
	Tags: <%= raw @blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')%>
</p>


<%= link_to like_blog_path(@blog), method: :put, class: "btn btn-default" do %>

	<span class="glyphicon glyphicon-heart">
		<%= @blog.get_upvotes.size %>
	</span>

<% end %> 
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Delete', blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', blogs_path %>

	<div id="comments">
		<h2><%= @blog.comments.count %> Comments</h2>
		<%= render @blog.comments %>

		<h3>Add a comment:</h3>
		<%= render "comments/form" %>
	</div>