<div class="comment clearfix">
		<%= image_tag 'https://lh3.googleusercontent.com/-dPlKfVYwEjk/AAAAAAAAAAI/AAAAAAAAAAA/tL2FPdD0TPU/photo.jpg', class: "comment_image col-xs-1" %>
	<div class="comment_content col-xs-11">
		<p class="comment_name"><strong><%= comment.name %></strong></p>
		<p class="comment_body"><%= comment.body %></p>
		<p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>

		<% if user_signed_in? %>
			<p>
				<%= link_to 'Delete', [comment.blog, comment],
								  method: :delete,
								  class: "button",
								 	data: { confirm: 'Are you sure?' } %>
			</p>
 		<% end %>

	</div>

</div>
<hr>