<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Webblog</title>
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>	 

	
	  <%= csrf_meta_tags %>
	</head>
	<body data-no-turbolink>

		<div class="site-container">
			<div class="notice">
				<%= notice %>
				<%= alert %>
			</div>
			<!-- <p class="alert"></p> -->

			<div class="container">
			<!-- <header></header> -->


			<nav class="navbar navbar-default">
			  <div class="container-fluid" style="padding: 0">


			    <!-- Brand and toggle get grouped for better mobile display -->

			    <% if controller.controller_name == 'blogs' && controller.action_name == 'index' %>
				<div class="scrollbar">
					<div class="handle" style="transform: translateZ(0px) translateX(114px); width: 190px;">
						<div class="mousearea"></div>
					</div>
				</div>
				<% end %>
			    <div class="navbar-header">
			<span class="scroller"></span>

			     <!--  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button> -->
			    </div>

			    <% if controller.controller_name == 'blogs' && controller.action_name == 'show' && false %>
			  <div class="back-blog">
			 	<i class="fa fa-chevron-left" aria-hidden="true"></i>
			 </div>
			 <% end %>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class=" " id="bs-example-navbar-collapse-1">
			    	<div class="up-trigger" data-behavior="up-trigger">
			    		<i class="fa fa-chevron-up" aria-hidden="true"></i>
			    	</div>

			      <ul class="nav navbar-nav">

			      <%= content_tag :li do %>
			      	<%= link_to(photos_path)  do %><i class="fa fa-camera" aria-hidden="true"></i><% end %>

			      <% end %>

			      <%= content_tag :li do %>
			      	<%= link_to(blogs_path)  do %><i class="fa fa-th-large" aria-hidden="true"></i><% end %>
			      <% end %> 

			      <%= content_tag :li do %>
			      	<%= link_to(home_index_path)  do %><i class="fa fa-home" aria-hidden="true"></i><% end %>
			      <% end %>

			      <%= content_tag :li do %>
			      	<%= link_to("")  do %><i class="fa fa-shopping-bag" aria-hidden="true"></i><% end %>
			      <% end %>

			      <%= content_tag :li do %>
			      	<%= link_to(videos_path)  do %><i class="fa fa-play" aria-hidden="true"></i><% end %>
			      <% end %>

			       
			      </ul>

			      <div class="nav-bottom">
			      	
				    <% if user_signed_in? %>
				    	<span class="logout-link">
				    		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
				    	</span>	   

				    <% else %>

				    	

						<% if true %>

					      	<%= form_for(:user, :url => session_path(:user)) do |f| %>
							  <%= f.text_field :email, class: 'login-inputs' %>
							  <%= f.password_field :password, class: 'login-inputs' %>
							  <!-- <%= f.check_box :remember_me %> -->
							  <!-- <%= f.label :remember_me %> -->
							  <%= f.submit 'Sign in', class: 'submit-log-in' %>
							  <%= link_to "Forgot your password?", new_password_path(:user) %>
							<% end %>
						<% end %>

					<% end -%>
			      </div>


			      
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

				

				<%= yield %>


			</div>

		</div>

 <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


	</body>
</html>
