<!DOCTYPE html>
<html>
	<head>
	  <title>Webblog</title>
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>	 

	  <%= csrf_meta_tags %>
	</head>
	<body>

		<div class="site-container">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>

			<div class="container" style="padding: 0;top: 93px;position: relative;">
			<!-- <header></header> -->


			<nav class="navbar navbar-default">
			  <div class="container-fluid" style="padding: 0">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="scrollbar">
        <div class="handle" style="transform: translateZ(0px) translateX(114px); width: 190px;">
          <div class="mousearea"></div>
        </div>
      </div>
			    <div class="navbar-header">
			<span class="scroller"></span>

			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			      <%= content_tag :li do %>
			      	<%= link_to(photos_path)  do %><i class="fa fa-camera" aria-hidden="true"></i><% end %>

			      <% end %>

			      <%= content_tag :li do %>
			      	<%= link_to(blogs_path)  do %><i class="fa fa-th-large" aria-hidden="true"></i><% end %>
			      <% end %> 

			      <%= content_tag :li do %>
			      	<%= link_to(home_index_path)  do %><i class="fa fa-home" aria-hidden="true"></i><% end %>
			      <% end %>

			      <%= content_tag :li do %>
			      	<%= link_to("")  do %><i class="fa fa-comments-o" aria-hidden="true"></i><% end %>
			      <% end %>

			      <%= content_tag :li do %>
			      	<%= link_to(videos_path)  do %><i class="fa fa-play" aria-hidden="true"></i><% end %>
			      <% end %>

			       
			      </ul>
			      
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

				

				<%= yield %>


			</div>

		</div>

 <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 <!-- <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
	</body>
</html>
